@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
  font-family: 'UberMoveTextMedium';
  src:  local("UberMoveTextMedium")
		url('../fonts/UberMoveTextMedium.woff') format("woff"),
        url('../fonts/UberMoveTextMedium.ttf') format("truetype"),
        url('../fonts/UberMoveTextMedium.eot') format("embedded-opentype");
}
body {
    font-family: 'UberMoveTextMedium' ;
}
.clear{ clear:both} 

.right{
	position: fixed;
    bottom: 0;
    right: 0;
	width:10.5%;
	text-align:center;
}
.main{
	padding: 0px;
	margin-top: 20;
	width:100%;
}
.header {
      padding: 10px;
      display: flex;
      align-content: center;
      justify-content: space-between;
/*    margin-top: 20px; */
      margin-bottom: 20px;
	  position: fixed;
	  top: 0;
	  background-color:white;
	  width:100%;
	  text-decoration:none;
}

.nav {
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 60px;
      list-style-type: none;
    }

.nav li a {
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
	  /* justify-content: center; */
	  justify-content: flex-end;
    }
	
.nav li:hover{
    background-color: green;
}

.a img{
        width: 100%;
		align-items: center;
		justify-content: center;
}

.br1{
	line-height:5px;
	text-align:center;
}
.br1 li{
	list-style:none;
	text-align:center;
	font-size:25px;
	line-height:40px;
}
.br2{
	font-size:20px;
}
.content1,.content2,.content3{
	background-color:#06C167;
	float: left;
	align-items: left;
	height:400px;
	display:flex;
	text-align:left;
	align-content: center;
	flex-wrap: wrap;
/* 	justify-content:space-between; */
}
.content1 li{
	list-style:none;
	text-align:center;
	font-size:14px;
}
.content1{
	width:50%;
}
.content1 img{
	width:95%;
	height:300px;
}

.content2{
	width:30%;
	line-height:40px;
}
.content3{
	width:20%;
}

.br3{
	margin-top:50px;
}
.br3 img{
	 width:50%;
}
.br3 ul{
	list-style:none;
}
.benefit,.client,.ubereats,.account,.order{
	justify-content:space-between;
	align-items: center;
	display:flex;
	float: left;
	width:20%;
	line-height:40px;
}

.left img:hover{
    transform: scale(1.5);
	transition: all 0.3s;
}
.br4{
	margin-top:50px;
}
.br4 ul{
	list-style:none;
}
.data,.AML,.set,.tablet,.call{
	justify-content:center;
	align-items: center;
	display:flex;
	float: left;
	width:20%;
	line-height:40px;
}
.br3,.br4 img{
	height:150px;
	text-align:center;
}
.recommend {
	text-align:center;
	float:left;
	line-height:20px;
}
